/*HEADER DESKTOP*/

header .container-nav1 {
    .nav {
        padding-right: 3rem;
        padding-top: 2rem;
        li {
            &:hover > ul {
                display: block;
            }
            a {
                font-family: $font-family;
                font-size: nth($font-size , 1 );
                color:nth($colors , 1 );
                transition: all .5s ease-in-out;
                font-weight: nth($font-weight , 1 );
                text-decoration: none;
                &:hover {
                    color: nth($colors , 6 );
                }
            }
            ul {
                display: none;
                position: absolute;
                padding-left: 1rem;
                
            }
        }
    }
}